html, body {
  background-color: #d0d9d9;
  color: #2b2c2f;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-shadow: 0 1px 1px white; }

a {
  color: inherit; }

p {
  margin: 7px 0;
  font-size: 1.8em;
  line-height: 1.3em; }
  p code {
    font-family: Monaco, "Courier New", "DejaVu Sans Mono", monospace;
    font-size: 0.8em;
    text-shadow: none;
    padding: 0 3px; }

#wrapper {
  margin: 25px 10px 0 50px; }

.header h1 {
  font-size: 8em;
  letter-spacing: -0.08em;
  margin: 0 0 0 -8px;
  color: #b20811;
  text-shadow: 0 3px 1px #860000; }
  .header h1 a {
    text-decoration: none; }
.header h2 {
  margin: 30px 0 0;
  font-size: 3em;
  line-height: 1.2em;
  color: #526073; }

.links {
  margin: 20px 0;
  font-size: 2.5em; }
  .links .link {
    display: inline;
    margin: 0 25px 0 0; }
    .links .link a {
      color: #6d7582;
      font-weight: bold;
      text-decoration: none;
      border-bottom: 3px solid #e8e8e8; }
      .links .link a:hover {
        color: #526073;
        border-bottom-color: white; }

.blurbs {
  margin-top: 60px;
  width: 800px; }
  .blurbs .blurb h3 {
    font-size: 2em;
    margin-bottom: 0;
    color: #526073; }

.manual {
  margin-top: 30px;
  width: 800px; }
  .manual p {
    margin: 20px 0;
    font-size: 1.5em; }
  .manual h1 {
    font-size: 2.5em; }
  .manual h2 {
    font-size: 2em; }
  .manual h3 {
    margin-top: 15px;
    font-size: 1.8em; }
  .manual pre {
    margin-left: 50px; }

.footer {
  margin: 30px 0 0;
  font-size: 0.5em; }
